


<div class="header">

  <button [routerLink]="['/loginpage']">点击登录</button>
  <button [routerLink]="['/registpage']">点击注册</button>
  <button (click)="test()">测试</button>
</div>

<body style="background-color: white;height: 1000px">
<div id="page" style="width: 1900px;height: 700px;padding-top: 20px">

  <!-- 1.先定义页面的html -->
  <div id="blocklyDiv" style="float:left;height: 700px;width:640px">
  </div>
  <canvas id="test"></canvas>
  <div id="gamePage" style="float: left;height: 700px;width:620px;text-align: center;">
    <div id="introduction" style="float: left;border:3px solid #ccc;height: 300px;width: 600px">
      <br><br><br>
      <p1>绿野仙踪</p1>
      <p>欢迎来到3D世界！现在你需要帮助小白走去迷宫</p>
      <p>你需要将地图的<strong>所有红砖</strong>全部踩过才能到达<strong>出口</strong></p>
      <p>如果你<strong>掉进湖里</strong>，那么你将<strong>挑战失败</strong></p>
      <br>
      <button onclick="compile()">运行</button>
      <button onclick="reset()">重置</button>
    </div>
  </div>

  <!-- 2.定义xml文件 -->
  <!-- 用来定义工具栏-->
  <xml id="toolbox" style="display: none">
    <category name="基本动作" colour="%{BKY_PROCEDURES_HUE}">
      <block type="front"></block>
      <block type="right"></block>
      <block type="left"></block>
    </category>
    <sep></sep>


    <category name="条件" colour="%{BKY_LOGIC_HUE}">
      <block type="red_block"></block>
      <block type="black_block"></block>
    </category>
    <sep></sep>


    <category name="魔法动作" colour="%{BKY_LOOPS_HUE}">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
      </block>

      <block type="controls_ifelse">
      </block>

    </category>
    <sep></sep>
  </xml>
  <div style="float: left;height: 700px;width:640px;text-align: center;">
    <div style="border:3px solid #ccc">
      <br><br>
      <p1>热线求助</p1>
      <p>如果您在游玩的过程中遇到了困难</p>
      <p>您可以通过视频连线向同学或者老师求助</p>
      <p>您只需要<strong>输入房间号</strong>即可开始视频</p>
      <input type="text" id="roomid">
      <button (click)="start()">进入房间</button>
      <br><br>
    </div>
    <div style="margin-top: 5px">
      <video id="video" width="640" height="700" style="background:#000;" autoplay></video>
      <canvas id="canvas" width="640" height="350"></canvas>
      <canvas style="display:none" id="canvas_opponent" width="640" height="350"></canvas>
    </div>
  </div>


</div>
</body>