<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet">
</head>
<body>
<div class="box">
  <h2>Regist</h2>

    <div class="inputbox">
      <input  type="text" [(ngModel)]="username">
      <label>Username</label>
    </div>
    <div class="inputbox">
      <input  type="password" [(ngModel)]="password">
      <label>Password</label>
    </div>
    <div class="inputbox">
      <input  type="text" [(ngModel)]="email">
      <label>Email</label>
    </div>
    <button (click)="regist()">注册</button>

</div>
</body>
</html>