<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>game1</title>
</head>

<body style="background-color: white;height: 1000px">
<div id="page" style="width: 1900px;height: 700px;padding-top: 20px">

  <!-- 1.先定义页面的html -->
  <div id="blocklyDiv" style="float:left;height: 700px;width:640px">
  </div>
  <div id="gamePage" style="float: left;height: 700px;width:620px;text-align: center;">
    <div id="introduction" style="float: left;border:3px solid #ccc;height: 300px;width: 600px">
      <br><br><br>
      <p1>对称谜题</p1>
      <p>这次小白面对的是对称谜题！希望你发现其中奥秘</p>
      <p>你需要踩完所有<strong>红砖</strong>，并且回到<strong>起点</strong>才算通过</p>
      <p>如果你掉进<strong>湖里</strong>或者经过<strong>草地</strong>，那么则<strong></strong>挑战失败</p>
      <br><br>
      <button onclick="compile()">运行</button>
      <button onclick="reset()">重置</button>
    </div>
  </div>

  <!-- 2.定义xml文件 -->
  <!-- 用来定义工具栏-->
  <xml id="toolbox" style="display: none">
    <category name="基本动作" colour="%{BKY_PROCEDURES_HUE}">
      <block type="front"></block>
      <block type="right"></block>
      <block type="left"></block>
    </category>
    <sep></sep>


    <category name="条件" colour="%{BKY_LOGIC_HUE}">
      <block type="red_block"></block>
      <block type="grass_block"></block>
      <block type="white_block"></block>
      <block type="water_block"></block>
    </category>
    <sep></sep>


    <category name="魔法动作" colour="%{BKY_LOOPS_HUE}">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
      </block>
      <block type="controls_if"></block>

      <block type="controls_ifelse">
      </block>

    </category>
    <sep></sep>
  </xml>
  <div style="float: left;height: 700px;width:640px;text-align: center;">
    <div style="border:3px solid #ccc">
      <br><br>
      <p1>热线求助</p1>
      <p>如果您在游玩的过程中遇到了困难</p>
      <p>您可以通过视频连线向同学或者老师求助</p>
      <p>您只需要<strong>输入房间号</strong>即可开始视频</p>
      <input type="text" id="roomid">
<!--      <button (click)="start()">进入房间</button>-->
      <br><br>
    </div>
    <div style="margin-top: 5px">
      <video id="video" width="640" height="700" style="background:#000;" autoplay></video>
      <canvas id="canvas" width="640" height="350"></canvas>
      <canvas style="display:none" id="canvas_opponent" width="640" height="350"></canvas>
    </div>
  </div>


</div>
</body>
</html>