<div class = "body">
  <div class = "left-div">

  </div>
  <div class = "right-div">
    <div class = "left">
      <div class = "run">

      </div>
      <div class = "gameUI">

      </div>
    </div>
    <div class = "right">
      <div class = "help">
        <h2>热线求助</h2>
        <p>如果您在游玩过程中遇到了困难，您可以通过视频连线向同学或老师寻求帮助，您只需要点击下方按钮随机生成一个房间号，并让对方输入该房间号，即可开始视频。</p>
        <button>开房间</button> 房间号：<br>
        <button>进房间</button> <input>
      </div>
      <div class = "my-camera">

      </div>
      <div class = "helper-camera">

      </div>

    </div>
  </div>

</div>
