<a [routerLink]="['/']">
  <h1 (click)="test()">Happy Coding</h1>
</a>
<div style="width:800px">
  <a  [routerLink]="['/']"  class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>主页</a>
  <a  [routerLink]="['/gamesList']" class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>进入游戏</a>
  <a  class="button fancy-button" style="margin-right:50px" [routerLink]="['/quickStart']"><i class="material-icons">shopping_cart</i>新手教程</a>

  <a  [routerLink]="['/personalpage']" *ngIf="login==true" class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>个人信息</a>
  <a  *ngIf="login==true" (click)="checkout()" class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>登出</a>

  <a  [routerLink]="['/loginpage']" *ngIf="login==false" class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>登录</a>
  <a  [routerLink]="['/registpage']" *ngIf="login==false" class="button fancy-button" style="margin-right:50px"><i class="material-icons">shopping_cart</i>注册</a>

</div>
