/*.start*/
/*{*/
    /*margin-left:600px;*/
    /*margin-top:300px;*/
    /*background-color:yellow*/
/*}*/


div{
    margin-left:800px;
    margin-top:300px;
}
h1{
    text-align:center
}
button{
    margin-left:50%;
}